/*------------------------------------*\
    #HERO
\*------------------------------------*/

/**
 * Wide content embellished by a background cover
 */

/*
  <div class="hero">
    <div class="hero__cover">
      <div class="hero__layer"></div>
    </div>
    <div class="hero__body"></div>
  </div>
*/

$b: '.hero';
$color-layer: rgba(color(black), 0.25);

#{$b} {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: size(line);
  position: relative;

  /**
   * E: cover
   * Example: image background
   */

  &#{$e}cover {
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /**
   * E: layer
   * Example: transparent black to darken image
   */

  &#{$e}layer {
    background-color: $color-layer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /**
   * E: body
   * Example: description with a cta
   */ 

  &#{$e}body {
    color: color(white);
    margin-top: rem(size(line));
    position: relative;
  }

  /**
   * M: height size
   * Default: banner
   */ 
  
  &#{$m}half {
    min-height: 50vh;
  }

  &#{$m}full {
    min-height: 100vh;
  }
}