/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/**
 * RESPOND-TO
 * Generate media query from breakpoint
 */

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

/**
 * FONT-SMOOTHING
 * Custom fonts may look better, give it a try
 */

@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/**
 * FONT-FACE-SRC
 * Generate src for custom fonts src with modern formats
 */

@mixin font-face-src($dir, $name) {
    src: url('#{$dir}#{$name}.eot');
    src: url('#{$dir}#{$name}.eot?#iefix') format('embedded-opentype'),
         url('#{$dir}#{$name}.woff') format('woff'),
         url('#{$dir}#{$name}.svg#webfont') format('svg'),
         url('#{$dir}#{$name}.ttf') format('truetype');
}