/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/**
 * BEM
 * Choose your naming convention
 */

$b: '.x' !default; // Block name
$e: '__' !default; // Element separator
$m: '--' !default; // Modifier separator

/**
 * DIR
 * Directory paths for assets
 */

$dir: (
  fonts:  '../fonts/',
  img:    '../img/',
  docs:   '../docs/'
) !default;

/**
 * COLORS
 * Let's get visual
 */

$color-primary: #935593 !default;

$color-identity: (
  primary:  $color-primary,
  accent:   complement($color-primary),
  error:    #e74c3c,
  success:  #40d47e,
) !default;

$color-calibration: (
  black:      #000,
  white:      #fff,
  text:       lighten(black, 20%),
  bg-body:    darken(white, 3%),
  bg-content: white,
  border:     darken(white, 20%),
  brand:      (
    facebook:    #3b5998,
    twitter:     #55acee,
    // googleplus:  #dc4e41,
    // instagram:   #e1306c,
    // linkedin:    #0077b5,
    // pinterest:   #bd081c,
    // tumblr:      #35465c,
    // whatsapp:    #43d854,
    // wordpress:   #21759b,
    // youtube:     #cd201f,
  )
) !default;

$colors: map-merge($color-calibration, $color-identity);

/**
 * SIZES
 * Measure length, width, height
 */
$sizes: (
  line: 24px,
  font: 16px,
  gutter: 15px,
  border: 1px,
  radius: 0.25em,
  screen: (
    phone:   414px,
    phablet: 640px,
    tablet:  854px,
    laptop:  1152px,
    desktop: 1440px,
  ),
) !default;

/**
 * BREAKPOINTS
 * Design responsively with media queries
 */
$breakpoints: (
  phone:    (min-width: size(screen, phone)),
  phablet:  (min-width: size(screen, phablet)),
  tablet:   (min-width: size(screen, tablet)),
  laptop:   (min-width: size(screen, laptop)),
  desktop:  (min-width: size(screen, desktop)),
) !default;
