<!doctype html>
<html lang="{% if lang %}{{ lang }}{% else %}{{ site.lang }}{% endif %}" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
        <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <link href="/assets/css/style.css" rel="stylesheet" media="all">
    </head>
    <body>
        <ul class="vessel">
        {% for page in site.pages %}
            <li class="vessel__item">
                <a href="{{ site.baseUrl }}{{ page.slug }}">{{ page.name }}</a>
            </li>
        {% else %}
            <li>No pages</li>
        {% endfor %}
        </ul>
        {% block content %}{% endblock %}
    </body>
</html>