/*------------------------------------*\
    #PRICING-TABLE
\*------------------------------------*/

/**
 * A list of pricing plans
 */

/*
  <div class="pricing">
    <div class="pricing__item"></div>
    ...
  </div>
*/

$b: '.pricing';

#{$b} {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;

  /**
   * E: item
   * Example: a pricing panel
   */

  &#{$e}item {
    flex-grow: 1;
    margin: size(line) / 2;
    position: relative;

    /**
     * M: featured
     * Example: a promoted panel
     */

    &#{$m}featured {
      box-shadow: 0 0 2*size(border) size(border) color(primary);
      margin: -(size(line) / 2);
      z-index: 1;
    }
  }
}
