// Label
// =====
// Independant piece of text highlighted by a background color
/*
  <span class="label">
    <span class="label__text"></span>
    <i class="label__icon"></i>
  </span>
*/

$b: '.label';

#{$b} {
  background: darken($color-white, 50%);
  border: 0;
  border-radius: $width-radius;
  color: $color-white;
  display: inline-flex;
  line-height: 1;
  padding: $width-space/4 0;
  white-space: nowrap;

  // Text

  &#{$e}text {
    margin: 0 $width-space/2;
  }

  // Icon

  &#{$e}icon {
    font-style: normal;
    margin-left: $width-space/2;

    #{$b}#{$e}text + & {
      margin-left: 0;
      margin-right: $width-space/2;
    }
  }

  // Border roundness
  // Default: radius

  &#{$m}straight {
    border-radius: 0;
  }

  &#{$m}round {
    border-radius: 1em;
  }

  // Background color
  // Default: gray

  &#{$m}primary {
    background-color: $color-primary;
  }

  &#{$m}accent {
    background-color: $color-accent;
  }
}

// Clickable elements

button#{$b}, a#{$b} {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.9;
  }
}